<!DOCTYPE html>

<html manifest="manifest.cache">
<head>
    <link rel="stylesheet" type="text/css" href="../javascript/test/css/qunit.css">
    <!--This page contains all scripts with logic for synchronizing-->
    <script src="../javascript/common/jquery.js" type="text/javascript"></script>
    <script src="../javascript/common/utils.js" type="text/javascript"></script>
    <script src="../javascript/auth.js" type="text/javascript"></script>
    <script src="../javascript/loggly.js" type="text/javascript"></script>
    <script src="../javascript/thrift/thrift.js" type="text/javascript"></script>

    <script src="../javascript/edam/Errors_types.js" type="text/javascript"></script>
    <script src="../javascript/edam/Limits_types.js" type="text/javascript"></script>
    <script src="../javascript/edam/NoteStore_types.js" type="text/javascript"></script>
    <script src="../javascript/edam/UserStore_types.js" type="text/javascript"></script>
    <script src="../javascript/edam/Types_types.js" type="text/javascript"></script>
    <script src="../javascript/edam/UserStore.js" type="text/javascript"></script>
    <script src="../javascript/edam/NoteStore.js" type="text/javascript"></script>

    <script src="../javascript/oauth/chrome_ex_oauth.js" type="text/javascript"></script>
    <script src="../javascript/oauth/chrome_ex_oauthsimple.js" type="text/javascript"></script>

    <script src="../javascript/common/spark-md5.min.js" type="text/javascript"></script>
    <script src="../javascript/background.js" type="text/javascript"></script>
    <script src="../javascript/test/javascript/common/qunit.js" type="text/javascript"></script>
    <script src="../javascript/test/javascript/test.js" type="text/javascript"></script>
</head>
<body>
<h1 id="qunit-header">QUnit Test Suite</h1>
<h2 id="qunit-banner"></h2>
<div id="qunit-testrunner-toolbar"></div>
<h2 id="qunit-userAgent"></h2>
<ol id="qunit-tests"></ol>

<h2>Go to console to review results</h2>
</body>
</html>
